<div #elementToCapture id="elementToCapture">
    <div class="modal-header">
        <h4 class="modal-title">{{ survey.title }}</h4>

        <button type="button" class="btn-close" aria-label="Close" (click)="bsModalRef.hide()"></button>
    </div>

    <div class="modal-body">
        <ng-container *ngIf="survey">
            <ng-container *ngFor="let question of survey.questions">
                <div class="mb-3">
                    <strong>{{ getQuestionTypeLabel(question) }}</strong>
                    <p>{{ question.text }}</p>

                    <ng-container *ngIf="isQuestionOpcionMultiple(question)">
                        <!-- Pregunta de opción múltiple con checkboxes -->
                        <div *ngFor="let option of question.options">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [name]="question.id">
                                <label class="form-check-label">{{ option }}</label>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="isQuestionOpcionMultipleUnico(question)">
                        <!-- Pregunta de opción única con radio buttons -->
                        <div *ngFor="let option of question.options">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" [name]="question.id" [value]="option">
                                <label class="form-check-label">{{ option }}</label>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="isQuestionAbierta(question)">
                        <!-- Pregunta abierta -->
                        <input type="text" class="form-control">
                    </ng-container>

                    <ng-container
                        *ngIf="isQuestionCalificacion1_10(question) || isQuestionCalificacion1_5(question) || isQuestionSiNo(question)">
                        <!-- Preguntas de calificación del 1 al 10, del 1 al 5 y de sí o no -->
                        <div *ngFor="let option of getOptions(question)">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" [name]="question.id" [value]="option">
                                <label class="form-check-label">{{ option }}</label>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Cerrar</button>
    <!-- <button type="button" class="btn btn-primary" (click)="downloadAsPDF()">Descargar como PDF</button>-->
</div>