<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" valign="top" style="background-color: white;"><br> <br>
            <table width="600" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" valign="top"
                            style="background-color: white; font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #000000; padding: 0px 15px 10px 15px;">

                        <body>
                        <div class="center-icon">
                            <img src="https://i.postimg.cc/wxX383CS/informacion.png" alt="info-icon" width="100px"/>
                        </div>
                        <div class="center-text">
                            <h2><strong>¡Por favor, revisar este correo!</strong></h2>
                            <br>
                            <p>Saludos cordiales, recibió un correo de una persona que necesita contactarse con la Institución</p>
                            <br>
                            <p>El estimado/a <strong th:text="${fullName}"></strong> ha dejado el siguiente mensaje:</p>
                            <br>
                            <p><strong th:text="${message}"></strong></p>
                            <br>
                            <p>Estos son sus datos de contacto:</p>
                            <p><strong>Correo: </strong><span th:text="${email}"></span></p>
                            <br>
                            <p>¡No olvides contactarte con aquella persona!</p>
                            <p>El equipo de alumni del ISTA.</p>
                        </div>
                        <div class="center-icon">
                            <img src="https://i.postimg.cc/7G2S7n52/logo-ista.png" alt="logo-ista">
                        </div>
                        <br>
                        <hr>
                        <div class="center-icon space-icon">
                            <a href="https://www.facebook.com/TecAzuay"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png" alt="face-ico" width="30px"></a>
                            <a href="https://www.instagram.com/tecdelazuay/?hl=es-la"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Instagram-Icon.png/1200px-Instagram-Icon.png" alt="insta-ico" width="30px"></a>
                        </div>
                        </body>
                        <footer>
                            <small class="center-text">
                                <p>Copyright (C) 2024 <strong>Instituto Tecnológico del Azuay</strong>. All rights
                                    reserved.</p>
                                <p>Octavio Chacón Moscoso 1-98 y Primera Transversal (Parque industrial)</p>
                                <p>Cuenca, Ecuador</p><br>
                                <p>Teléfono: 07 2809 551 - 0995363076</p>
                                <p>O contáctanos a nuestro correo: info.alumni.est@gmail.com</p>
                            </small>
                        </footer>
                        </div>
                    </td>
                </tr>
            </table> <br> <br>
        </td>
    </tr>
</table>
</body>

</html>