<!doctype html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${titulo}"></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="m-5">
    <h1 class="text-center">INTEGRANTES</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">NOMBRES</th>
            <th scope="col">APELLIDOS</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td> ALEJANDRO</td>
            <td>HARO </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>HENRY</td>
            <td>DUCHI</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>LUIS</td>
            <td>DUCHI</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>ANGEL</td>
            <td>CARDENAS</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>JOSE</td>
            <td>FARES</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>EDUARDO</td>
            <td>ASTUDILLO</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>LENNIN</td>
            <td>CORDOVA</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>SANTIAGO</td>
            <td>GUAMAN</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>JENNY</td>
            <td>ENRIQUEZ</td>
        </tr>
    
        </tbody>
    </table>
</div>
</body>
</html>