<section class="page-title bg-overlay-black parallax"
    style="background-image: url(../../../../assets/imgs/headers/empresas.jpg);">
    <div class="row">
        <div class="col-lg-12">
            <h1>Mis Empresas</h1>
        </div>
    </div>
</section>

<div class="card" style="background: var(--side-bg-color);">
    <div class="card-body collapse show" id="collapse1">
        <!-- Modal -->
        <div class="modal fade" id="modalData" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalDataLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header text-white" [class.bg-dark]="!editarClicked"
                        [class.bg-primary]="editarClicked">
                        <h5 [innerText]="editarClicked ? 'Modificar Empresa' : 'Crear Empresa'"></h5>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3 needs-validation" [formGroup]="companyForm">
                            <div class="form-group col-lg-6">
                                <label for="ruc" class="form-label active">RUC:*</label>
                                <div class="input-group has-validation">
                                    <a class="input-group-text">
                                        <i class="fas fa-id-card"></i>
                                    </a>
                                    <input type="text" class="form-control" id="ruc" formControlName="ruc"
                                        placeholder="Ingrese el RUC" required>
                                    <div class="oaerror danger invalid-feedback">
                                        <strong>Error</strong> - Por favor, ingrese el RUC.
                                    </div>
                                </div>

                                <div class="oaerror danger"
                                    *ngIf="companyForm.get('ruc')?.hasError('invalidRuc') && companyForm.get('ruc')?.touched">
                                    <strong>RUC Inválido</strong> - El RUC ingresado no es válido.
                                </div>
                                <div class="oaerror danger"
                                    *ngIf="companyForm.get('ruc')?.hasError('pattern') && companyForm.get('ruc')?.touched">
                                    <strong>Dato Erróneo</strong> - Solo números y 13 caracteres.
                                </div>
                                <div class="oaerror danger"
                                    *ngIf="companyForm.get('ruc')?.hasError('rucExists') && companyForm.get('ruc')?.touched">
                                    <strong>Dato Erróneo</strong> - Ruc ya registrado.
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="nombre" class="form-label active">Nombre:*</label>
                                <div class="input-group has-validation">
                                    <a class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </a>
                                    <input type="text" class="form-control" id="nombre" formControlName="nombre"
                                        placeholder="Ingrese el Nombre de la Empresa" required>
                                    <div class="oaerror danger invalid-feedback">
                                        <strong>Error</strong> - Por favor, ingrese el nombre.
                                    </div>
                                </div>
                                <div class="oaerror danger"
                                    *ngIf="companyForm.get('nombre')?.hasError('nameExists') && companyForm.get('nombre')?.touched">
                                    <strong>Dato Erróneo</strong> - Nombre ya registrado.
                                </div>
                            </div>


                            <div class="form-group col-lg-6">
                                <label for="tipoEmpresa" class="form-label active">Tipo de Empresa</label>
                                <div class="input-group has-validation">
                                    <a class="input-group-text">
                                        <i class="fas fa-building"></i>
                                    </a>
                                    <input type="text" class="form-control" id="tipoEmpresa"
                                        formControlName="tipoEmpresa" placeholder="Ingrese el tipo de Empresa" required>
                                    <div class="oaerror danger invalid-feedback">
                                        <strong>Error</strong> - Por favor, ingrese el tipo de empresa.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="razonSocial" class="form-label active">Razón Social</label>
                                <div class="input-group has-validation">
                                    <a class="input-group-text">
                                        <i class="fas fa-cogs"></i>
                                    </a>
                                    <input type="text" class="form-control" id="razonSocial"
                                        formControlName="razonSocial" placeholder="Ingrese la razón social" required>
                                    <div class="oaerror danger invalid-feedback">
                                        <strong>Error</strong> - Por favor, ingrese la razón social.
                                    </div>
                                </div>
                            </div>


                            <div class="form-group col-lg-6">
                                <label for="area" class="form-label active">Área</label>
                                <div class="input-group has-validation">
                                    <a class="input-group-text">
                                        <i class="fas fa-chart-area"></i>
                                    </a>
                                    <input type="text" class="form-control" id="area" formControlName="area"
                                        placeholder="Ingrese el área" required>
                                    <div class="oaerror danger invalid-feedback">
                                        <strong>Error</strong> - Por favor, ingrese el área.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="ubicacion" class="form-label active">Ubicación</label>
                                <div class="input-group has-validation">
                                    <a class="input-group-text">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </a>
                                    <input type="text" class="form-control" id="ubicacion" formControlName="ubicacion"
                                        placeholder="Ingrese la ubicación" required>
                                    <div class="oaerror danger invalid-feedback">
                                        <strong>Error</strong> - Por favor, ingrese la ubicación.
                                    </div>
                                </div>
                            </div>


                            <div class="form-group col-lg-6">
                                <label for="sitioWeb" class="form-label active">Sitio Web</label>
                                <div class="input-group has-validation">
                                    <a class="input-group-text">
                                        <i class="fas fa-globe"></i>
                                    </a>
                                    <input type="text" class="form-control" id="sitioWeb"
                                        placeholder="Ingrese el sitio web" formControlName="sitioWeb" (focus)="showMessage=true">
                                    <div *ngIf="showMessage" class="oaerror warning">
                                        <strong>Opcional</strong> - El sitio web no es necesario a menos que desee proporcionarlo.
                                    </div>
                                </div>

                                <div class="oaerror danger"
                                    *ngIf="companyForm.get('sitioWeb')?.hasError('pattern') && companyForm.get('sitioWeb')?.touched">
                                    <strong>Error</strong> - La dirección del sitio web debe comenzar con http:// o https://.
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="ciudad" class="form-label active">Ciudad</label>
                                <div class="input-group has-validation">
                                    <a class="input-group-text">
                                        <i class="fas fa-city"></i>
                                    </a>
                                    <select class="form-select" id="ciudad" formControlName="ciudad" required>
                                        <option value="" selected disabled>-- Seleccione una ciudad --</option>
                                        <option *ngFor="let ciudad of ciudades" [ngValue]="ciudad">{{ ciudad?.nombre }}
                                        </option>
                                    </select>
                                    <div class="oaerror danger invalid-feedback">
                                        <strong>Error</strong> - Por favor, seleccione una ciudad.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="sectorEmpresarial" class="form-label active">Sector Empresarial</label>
                                <div class="input-group has-validation">
                                    <a class="input-group-text">
                                        <i class="fas fa-industry"></i>
                                    </a>
                                    <select class="form-select" id="sectorEmpresarial" formControlName="sectorEmpresarial" required>
                                        <option value="" selected disabled>-- Seleccione un sector empresarial --
                                        </option>
                                        <option *ngFor="let sectorEmpresarial of sectoresEmpresariales" [ngValue]="sectorEmpresarial">{{
                                            sectorEmpresarial?.nombre }}</option>
                                    </select>
                                    <div class="oaerror danger invalid-feedback">
                                        <strong>Error</strong> - Por favor, seleccione un sector empresarial.
                                    </div>
                                </div>
                                <div class="oaerror danger"
                                    *ngIf="companyForm.get('sectorEmpresarial')?.hasError('required') && companyForm.get('sectorEmpresarial')?.touched">
                                    <strong>Dato Erróneo</strong> - Solo números y 13 caracteres.
                                </div>
                            </div>


                            <div *ngIf="!editarClicked" class="form-group col-lg-9">
                                <label for="pdfFile" class="form-label active">Subir Comprobante de RUC</label>
                                <div class="input-group has-validation">
                                    <div class="card mg-b-20 form-group flex-grow-1 mr-3">
                                        <div class="card-header">
                                            <div class="preview-img" *ngIf="pdfHandlerService.pdfUrl">
                                                <div class="embed-responsive-19by9">
                                                    <embed [src]="pdfHandlerService.pdfUrl" type="application/pdf"
                                                        width="100%" height="800px">
                                                </div>
                                                <div>
                                                    <button
                                                        class="clear-image form-control cancel-button border-0 mt-3 custom-cancel-button"
                                                        type="button" (click)="pdfHandlerService.clearPdf()"
                                                        style="background-color: blue; color: white;">
                                                        Cancelar
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body collapse show" id="collapse8">
                                            <input id="pdfFile" type="file" class="dropify" data-show-remove="false"
                                                (change)="onPdfSelected($event)" accept=".pdf"
                                                [disabled]="editarClicked" />
                                        </div>
                                    </div>
                                    <div class="oaerror danger" *ngIf="!pdfHandlerService.pdfUrl">
                                        <strong>Obligatorio</strong> - Por favor, suba el comprobante de RUC.
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="editarClicked" class="oaerror warning">
                                <strong>Información</strong> - Si necesita actualizar únicamente el comprobante de RUC, por favor cierre este diálogo y haga clic en el botón "Nuevo Documento RUC" en la tabla de empresas.
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button (click)="onSubmit()" class="btn btn-oblong" [class.btn-success]="!editarClicked"
                            [class.btn-primary]="editarClicked">
                            {{ editarClicked ? 'Actualizar Empresa' : 'Registrar Empresa' }}
                        </button>

                        <button data-bs-dismiss="modal" #myModalClose
                            class="btn btn-oblong btn-outline-danger btn-block" id="close-button">Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <!-- =====================================================
            *             BOTONES DE ACCIONES
         ======================================================= -->
        <div class="col-md-12 col-lg-12">
            <div class="d-flex">
                <button title="Actualizar datos de la tabla" (click)="buscarEmpresas()" class="btn btn-success">
                    <i class="fas fa-sync"></i>
                </button>

                <button title="Act/Desac columnas de la tabla" (click)="filterService.openFilters('filterTable')"
                    class="btn btn-dark ms-2">
                    <i class="fa-solid fa-filter"></i>
                </button>

                <ng-multiselect-dropdown style="width: 25rem;" *ngIf="filterService.editFilterTabs['filterTable']"
                    [placeholder]="'Act / Desc elementos'" [settings]="filterService.dropdownSettings['filterTable']"
                    [data]="filterService.dropdownLists['filterTable']"
                    [(ngModel)]="filterService.selectedItems['filterTable']"
                    (onSelect)="filterService.onItemSelect($event)"
                    (onSelectAll)="filterService.onSelectAll('filterTable')"
                    (onDeSelect)="filterService.onItemDeSelect($event)"
                    (onDeSelectAll)="filterService.onDeSelectAll('filterTable')" class="ms-2">
                </ng-multiselect-dropdown>

                <button (click)="onRegistrarClick()" data-bs-toggle="modal" data-bs-target="#modalData"
                    class="btn btn-primary ms-2" style="width: 15rem;">
                    Registrar Empresa
                </button>
            </div>
        </div>

        <!-- =====================================================
            *            CONTENIDO DE LA TABLA
         ======================================================= -->
         <div class="mt-3 show animate_animated animatebounceInUp animate_fast">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger"
                    class="table table-bordered table-hover">
                    <tbody>
                        <tr *ngFor="let empresa of empresas; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{empresa.nombre}}</td>
                            <td>{{empresa.ruc}}</td>
                            <td>{{empresa.razonSocial}}</td>
                            <td>{{empresa.ubicacion}}</td>
                            <td>{{empresa.estado ? 'EMPRESA ACTIVA' : 'EMPRESA INACTIVA'}}</td>
                            <td class="text-center table-actions d-flex justify-content-center">
                                <a (click)="onEditarClick(empresa.id)" data-bs-toggle="modal"
                                    data-bs-target="#modalData" class="btn btn-label-primary btn-sm mg-y-5">
                                    <i class="fa fa-pencil"></i> Editar
                                </a>

                                <a (click)="deleteEmpresa(empresa.id)" class="btn btn-label-danger btn-sm mg-y-5 ms-2">
                                    <i class="fa fa-trash"></i> Eliminar
                                </a>
                                <button data-bs-toggle="modal" (click)="onEditarClick(empresa.id)"
                                    data-bs-target="#modalPDF"
                                    class="btn btn-label-info btn-sm mg-y-5 ms-2">
                                    <i class="fa-solid fa-file"></i>
                                    Nuevo Documento RUC
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalPDF" tabindex="-1" role="dialog" aria-labelledby="modalPDF"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div [class.bg-primary]="true" class="modal-header text-white">
                <h5>Nuevo Documento RUC</h5>
            </div>
            <div class="modal-body">
                <form class="row g-3 needs-validation" [formGroup]="companyForm">
                    <div class="form-layout form-layout-1">
                        <div class="row mg-b-25" data-parsley-validate>
                            <div class="form-group col-lg-12">
                                <label for="ruc" class="form-label active">RUC:</label>
                                <div class="input-group has-validation">
                                    <a class="input-group-text">
                                        <i class="fas fa-id-card"></i>
                                    </a>
                                    <input type="text" class="form-control" id="ruc" formControlName="ruc"
                                        placeholder="Ingrese el RUC" required readonly>
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                <label for="pdfFile" class="form-label active">Subir nuevo omprobante de RUC</label>
                                <div class="input-group has-validation">
                                    <div class="card mg-b-20 form-group flex-grow-1 mr-3">
                                        <div class="card-header">
                                            <div class="preview-img" *ngIf="pdfHandlerService.pdfUrl">
                                                <div class="embed-responsive-19by9">
                                                    <embed [src]="pdfHandlerService.pdfUrl" type="application/pdf"
                                                        width="100%" height="800px">
                                                </div>
                                                <div>
                                                    <button
                                                        class="clear-image form-control cancel-button border-0 mt-3 custom-cancel-button"
                                                        type="button" (click)="pdfHandlerService.clearPdf()"
                                                        style="background-color: blue; color: white;">
                                                        Cancelar
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body collapse show" id="collapse8">
                                            <input id="pdfFile" type="file" class="dropify" data-show-remove="false"
                                                (change)="onPdfSelected($event)" accept=".pdf"/>
                                        </div>
                                    </div>
                                    <div class="oaerror danger" *ngIf="!pdfHandlerService.pdfUrl">
                                        <strong>Obligatorio</strong> - Por favor, suba el comprobante de RUC.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="updatePdfRuc()" [disabled]="notActive" data-bs-toggle="modal"
                    data-bs-target="#modalPDF" class="btn btn-oblong btn-primary">
                    Actualizar Documento
                </button>
                <button data-bs-dismiss="modal" (click)="disableButton()"
                    class="btn btn-oblong btn-outline-danger btn-block">Cancelar</button>
            </div>
        </div>
    </div>
</div>