<section>
    <div class="row g-0 animate__animated animate__fadeIn animate__fast">
        <div class="col-lg-7 d-none d-lg-block">
            <div class="custom-size">
                <ng-lottie [options]="options_reset"></ng-lottie>
            </div>
        </div>

        <div class="col-lg-5 d-flex flex-column align-items-end mb-5 pb-5">
            <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 mb-auto w-100">
                <img src="./assets/imgs/ALumni_Logo_Dark_Large.png" class="img-fluid" />
            </div>
            <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4">
                <h2 class="font-weight-bold mb-4" style="color: var(--alumni-color); font-weight: bold;">Reestablece tu
                    contraseña</h2>
                <p>Ahora deberá completar los campos de abajo</p>
                <p>Ingrese su nueva contraseña y confírmela para poder acceder a su cuenta.</p>

                <form class="form mb-5" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                    <div class="mb-b4">
                        <div class="form-group">
                            <input class="form-input" [type]="fieldTextType ? 'text' : 'password'" name="password" placeholder=" " id="inputPassword" formControlName="password">
                            <i class="ri-lock-line form-icon"></i>
                            <label for="" class="form-label">Ingresa tu contraseña</label>
                            <i class="ri-eye-line form-icon-show" [class.active]="isActive" (click)="toggleFieldTextType()"></i>
                          </div>
                        <div id="passwordError" class="text-danger" 
                        *ngIf="resetForm.get('password')?.hasError('required') && (resetForm.get('password')?.dirty || resetForm.get('password')?.touched)">
                            La contraseña es obligatoria.
                        </div>
                        <div class="mb-6" id="passwordError" class="text-danger" 
                        *ngIf="resetForm.get('password')?.hasError('pattern') && (resetForm.get('password')?.dirty || resetForm.get('password')?.touched)">
                            La contraseña debe tener al menos 8 caracteres, una letra mayúscula, una letra minúscula y un número.
                        </div>
                    </div>

                    <div class="mb-b4 mt-3">
                        <div class="form-group">
                            <input class="form-input" [type]="fieldTextType ? 'text' : 'password'" name="confirmPassword" placeholder=" " id="inputConfirmPassword" formControlName="confirmPassword">
                            <i class="ri-lock-line form-icon"></i>
                            <label for="" class="form-label">Repite tu contraseña</label>
                            <i class="ri-eye-line form-icon-show" [class.active]="isActive" (click)="toggleFieldTextType()"></i>
                        </div>
                        <div id="confirmPasswordError" class="text-danger" 
                        *ngIf="resetForm.get('confirmPassword')?.hasError('required') && (resetForm.get('confirmPassword')?.dirty || resetForm.get('confirmPassword')?.touched)">
                            La confirmación de la contraseña es obligatoria.
                        </div>
                    </div>

                    <div class="mb-6 mt-3" id="passwordNotMatched" class="text-danger" 
                    *ngIf="resetForm.hasError('passwordMismatch') && (resetForm.get('confirmPassword')?.dirty || resetForm.get('confirmPassword')?.touched)">
                        Las contraseñas no coinciden.
                    </div>

                    <div class="input-group">
                        <button class="btn btn-primary w-100 mt-3" type="submit">Reestablecer contraseña</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>