<section>
    <div class="row g-0 animate__animated animate__fadeIn animate__fast">
        <div class="col-lg-7 d-none d-lg-block">
            <div class="custom-size">
                <ng-lottie [options]="options_request"></ng-lottie>
            </div>
        </div>

        <div class="col-lg-5 d-flex flex-column align-items-end">
            <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 mb-auto w-100">
                <img src="./assets/imgs/ALumni_Logo_Dark_Large.png" class="img-fluid" />
            </div>
            <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4">
                <h2 class="font-weight-bold mb-4" style="color: var(--alumni-color); font-weight: bold;">Restablece tu
                    contraseña</h2>
                <p>Ingrese la dirección de correo electrónico que utilizó cuando se unió y le
                    enviaremos instrucciones para restablecer su contraseña.
                    <br><br>Por razones de seguridad, NO almacenamos su contraseña. Así que tenga la seguridad de que
                    nunca
                    le enviaremos su contraseña por correo electrónico.
                </p>

                <form class="form mb-5" [formGroup]="formMail" (ngSubmit)="sendMail()">
                    <div class="mb-b4">
                        <div class="form-group">
                            <input class="form-input" type="email" name="email" placeholder=" " id="inputEmail"
                                formControlName="email">
                            <i class="form-icon">&#9993;</i>
                            <label for="" class="form-label">Ingresa tu correo</label>
                        </div>
                        <div id="emailError mb-5" class="text-danger"
                            *ngIf="formMail.get('email')?.hasError('required') && (formMail.get('email')?.dirty || formMail.get('email')?.touched)">
                            El correo es obligatorio.
                        </div>
                    </div>

                    <div class="input-group mt-3">
                        <button class="btn btn-primary w-100" type="submit">Enviar correo</button>
                    </div>

                    <p class="text-center mt-5">¿Ya tienes una cuenta? <a routerLink="/account/login"
                            class="text-light font-weight-bold text-decoration-none">Inicia sesión</a>.</p>
                </form>
            </div>
        </div>
    </div>
</section>