<section class="page-title bg-overlay-black parallax"
    style="background-image: url(../../../../assets/imgs/headers/Referencias.jpg);">
    <div class="row">
        <div class="col-lg-12">
            <h1>Ofertas Laborales</h1>
        </div>
    </div>
</section>

<div class="modal fade" id="codeModal" tabindex="-1" aria-labelledby="modalDataLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-white bg-dark">
                <h5>Restaurar Información (TEMPORAL)</h5>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="importarDatos()">
                    <div class="row mg-b-25 mb-3" data-parsley-validate>
                        <div class="form-group">
                            <label for="fileInput" class="form-label"><b>Seleccione el archivo JSON:</b></label>

                            <input type="file" #fileInput class="form-control" id="fileInput" required>

                            <div class="oaerror warning" *ngIf="fileInput.value">
                                <strong>Advertencia:</strong> Por favor, confirme que los datos a importar son correctos
                                y corresponden a la tabla.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Importar Datos</button>
                        <button type="button" #codeModal data-bs-dismiss="modal"
                            class="btn btn-outline-danger btn-block">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card" style="background: var(--side-bg-color);">
    <div class="card-body collapse show">
        <div class="d-flex">
            <button title="Actualizar datos de la tabla" (click)="loadData()" class="btn btn-success">
                <i class="fas fa-sync"></i>
            </button>
        </div>

        <div class="mt-3 show animate__animated animate__bounceInUp animate__fast">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger"
                    class="table table-bordered table-hover">
                    <tbody>
                        <tr *ngFor="let ofert of ofertasLaboralesList;let i=index">
                            <!--<th scope="row">{{ ofert.id }}</th>-->
                            <th scope="row">{{ i+1}}</th>
                            <td>{{ ofert.areaConocimiento ? ofert.areaConocimiento : 'ADJUNTO EN LA IMAGEN' }}</td>
                            <td>{{ ofert.cargo ? ofert.cargo : 'ADJUNTO EN LA IMAGEN' }}</td>
                            <td>{{ ofert.experiencia ? ofert.experiencia : 'ADJUNTO EN LA IMAGEN' }}</td>
                            <td>{{ ofert.salario > 0 ? '$' + ofert.salario : 'ADJUNTO EN LA IMAGEN' }}</td>
                            <td>{{ ofert.fechaCierre | date: 'dd/MM/yyyy HH:mm' }}</td>
                            <td>{{ ofert.fechaPublicacion | date: 'dd/MM/yyyy HH:mm' }}</td>
                            <td> {{ ofert.estado }}</td>
                            <td>{{ ofert.nombreEmpresa }}</td>
                            <td>
                                <a href="{{ ofert.sitioweb }}" target="_blank">{{ ofert.sitioweb }}</a>
                            </td>
                            <td class="text-center">
                                <a data-bs-toggle="modal" data-bs-target="#m_modal_5" class="table-action mg-r-10"
                                    (click)="viewOfertaLaboral(ofert.id)">
                                    <i class="fa-regular fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-lg" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_4"
    aria-hidden="true">

    <div class="modal-dialog" role="document" data-bs-backdrop="static">

        <div class="modal-content">
            <div [class.bg-primary]="true" class="modal-header text-white">
                <h5>Detalle de la Oferta</h5>
            </div>
            <div class="modal-body">
                <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
                        <div class="col-lg-10 mx-auto">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <div class="form-group mr-3"
                                                        *ngIf="ofertaLaboralDTO.tipo === 'estilo1' || ofertaLaboralDTO.tipo === 'estilo2'">
                                                        <input type="text" class="form-input" readonly
                                                            [value]="ofertaLaboralDTO.cargo">
                                                        <label for="" class="form-label">Cargo</label>
                                                        <i class="ri-user-smile-line form-icon"></i>
                                                    </div>
                                                </div>

                                                <div class="mx-2 flex-grow-1"
                                                    *ngIf="ofertaLaboralDTO.tipo === 'estilo1' || ofertaLaboralDTO.tipo === 'estilo2'">
                                                    <div class="form-group">
                                                        <input type="text" class="form-input" readonly
                                                            [value]="ofertaLaboralDTO.tiempo">
                                                        <label for="" class="form-label">Tiempo</label>
                                                        <i class="ri-user-smile-line form-icon"></i>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <div class="form-group mr-3"
                                                        *ngIf="ofertaLaboralDTO.tipo === 'estilo1'">
                                                        <input type="text" class="form-input" readonly
                                                            [value]="ofertaLaboralDTO.salario">
                                                        <label for="" class="form-label">Salario</label>
                                                        <i class="ri-user-smile-line form-icon"></i>
                                                    </div>
                                                </div>

                                                <div class="mx-2 flex-grow-1"
                                                    *ngIf="ofertaLaboralDTO.tipo === 'estilo1'">
                                                    <div class="form-group">
                                                        <input type="text" class="form-input" readonly
                                                            [value]="ofertaLaboralDTO.experiencia">
                                                        <label for="" class="form-label">Experiencia</label>
                                                        <i class="ri-user-smile-line form-icon"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <div class="form-group mr-3"
                                                        *ngIf="ofertaLaboralDTO.tipo === 'estilo1' || ofertaLaboralDTO.tipo === 'estilo2'">
                                                        <textarea type="text" class="form-input" readonly
                                                            [value]="ofertaLaboralDTO.areaConocimiento">
                                                        </textarea>
                                                        <label for="" class="form-label">Área Conocimiento</label>
                                                        <i class="ri-user-smile-line form-icon"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <div class="form-group mr-3">
                                                        <input type="text" class="form-input"
                                                            [value]="ofertaLaboralDTO.nombreEmpresa" readonly>
                                                        <label for="" class="form-label">Empresa</label>
                                                        <i class="ri-user-smile-line form-icon"></i>

                                                    </div>
                                                </div>

                                                <div class="mx-2 flex-grow-1">
                                                    <div class="form-group">
                                                        <input type="text" class="form-input" readonly
                                                            [value]="ofertaLaboralDTO.fechaCierre | date: 'dd/MM/yyyy HH:mm'">
                                                        <label for="" class="form-label">Fecha Cierre</label>
                                                        <i class="ri-user-smile-line form-icon"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <div class="form-group mr-3">
                                                        <input type="text" class="form-input"
                                                            [value]="ofertaLaboralDTO.fechaPublicacion | date: 'dd/MM/yyyy HH:mm'"
                                                            readonly>
                                                        <label for="" class="form-label">Publicado</label>
                                                        <i class="ri-user-smile-line form-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="mx-2 flex-grow-1">
                                                    <form [formGroup]="stateForm">
                                                        <div class="form-group">
                                                            <select class="form-input" formControlName="state"
                                                                id="state">
                                                                <option value="EN_EVALUACION">En evaluación</option>
                                                                <option value="EN_CONVOCATORIA" [disabled]="estadoSeleccionado === 'OTHER_STATE'">Aprobar</option>
                                                                <option value="RECHAZADA_POR_ADMINISTRADOR">Rechazar
                                                                </option>
                                                                <option value="OTHER_STATE" disabled>Aprobada</option>
                                                            </select>
                                                            <label for="" class="form-label">Estado</label>
                                                            <i class="ri-user-smile-line form-icon"></i>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <div class="form-group mr-3">
                                                    <!-- Utilizamos la etiqueta <a> para mostrar el enlace -->
                                                    <a href="{{ ofertaLaboralDTO.sitioweb }}" target="_blank" class="form-input">{{ ofertaLaboralDTO.sitioweb }}</a>
                                                    <label for="" class="form-label">Sitio Web</label>
                                                    <i class="ri-user-smile-line form-icon"></i>
                                                </div>
                                            </div>
                                            
                                            <div class="m-lg-2 text-center"
                                                *ngIf="ofertaLaboralDTO.tipo === 'estilo3' || ofertaLaboralDTO.tipo === 'estilo2'">
                                                <img src="{{ofertaLaboralDTO.fotoPortada}}" id="foto-portada"
                                                    alt="portada">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-bs-dismiss="modal" id="close-button" class="btn btn-oblong btn-primary btn-block"
                        (click)="updateStateOfertaLaboral(ofertaLaboralDTO.id)">Aceptar</button>
                    <button data-bs-dismiss="modal" id="cancel-button"
                        class="btn btn-oblong btn-danger btn-block">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>