#progress {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 55px;
    width: 55px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 21, 255, 0.2);
    cursor: pointer;
    z-index: 3;
}

#progress-value {
    display: block;
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: #0018b3;
}