<section class="bg-half-260 pb-4 d-table w-100" style="background: url('cdn/images/about/bg.jpg') center center;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="candidate-detail text-center text-md-left p-4 rounded shadow bg-white">
                    <div class="row align-items-end">
                        <div class="col-md-8">
                            <div class="candidate-detail-top align-items-center">
                                <img src="cdn/images/job/envato.svg"
                                    class="avatar avatar-medium rounded-circle shadow mr-md-3" alt="">
                                <div class="content mt-4 mt-sm-0">
                                    <h4 class="mb-0">Envato PTE LTD</h4>
                                    <h6 class="text-muted">Software Develpopment Firm</h6>
                                    <p class="mb-0"><i data-feather="map-pin" class="fea icon-sm mr-1"></i><span
                                            class="text-muted h6">California, USA</span></p>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->

<!-- Section Start -->
<section class="section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="sticky-bar rounded bg-white shadow">
                    <div class="border-bottom p-4">
                        <h5 class="mb-0">Company Information :</h5>
                    </div>

                    <div class="p-4">
                        <div class="d-flex align-items-center">
                            <i data-feather="map-pin" class="float-left mr-3"></i>
                            <div class="overflow-hidden d-block">
                                <h6 class="mb-0">Headquarters :</h6>
                                <p class="text-muted mb-0">USA</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mt-3">
                            <i data-feather="cpu" class="float-left mr-3"></i>
                            <div class="overflow-hidden d-block">
                                <h6 class="mb-0">Company :</h6>
                                <p class="text-muted mb-0">Envato PTE LTD</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mt-3">
                            <i data-feather="mail" class="float-left mr-3"></i>
                            <div class="overflow-hidden d-block">
                                <h6 class="mb-0">Email :</h6>
                                <p class="text-muted mb-0">xyzenvato.com</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mt-3">
                            <i data-feather="flag" class="float-left mr-3"></i>
                            <div class="overflow-hidden d-block">
                                <h6 class="mb-0">Website :</h6>
                                <p class="text-muted mb-0">www.envato.com</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mt-3">
                            <i data-feather="users" class="float-left mr-3"></i>
                            <div class="overflow-hidden d-block">
                                <h6 class="mb-0">No. of employees :</h6>
                                <p class="text-muted mb-0">1000 +</p>
                            </div>
                        </div>

                        <h5 class="mt-4">Location :</h5>
                        <div class="map mt-3">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3620.451220122265!2d89.35301871431975!3d24.848434151860502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fc5566bcbb4be9%3A0x7a415af8c371865c!2sRayBim%20Technologies!5e0!3m2!1sen!2sbd!4v1626508064357!5m2!1sen!2sbd"
                                style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-8 col-md-6 col-12 mt-4 pt-2">
                <div class="rounded shadow bg-white p-4">
                    <h5>Company Details:</h5>
                    <p class="text-muted mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p class="text-muted">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                        roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                        Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of
                        the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the
                        cites of the word in classical literature, discovered the undoubtable source.</p>
                    <p class="text-muted">But I must explain to you how all this mistaken idea of denouncing pleasure
                        and praising pain.</p>

                    <h5 class="mt-4">Vacancy :</h5>
                    <div class="row">
                        <div class="col-lg-6 mt-4">
                            <a href="page-job-detail.html" class="text-dark">
                                <div class="d-flex align-items-center p-3 bg-white rounded shadow">
                                    <i data-feather="airplay" class="mr-3 text-primary"></i>
                                    <div class="content">
                                        <h6 class="title mb-0">Senior Web Developer</h6>
                                        <p class="text-muted mb-0">London, UK</p>
                                    </div>
                                </div>
                            </a>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Section End -->