<section class="page-title bg-overlay-black parallax"
    style="background-image: url(../../../../assets/imgs/headers/Postulaciones.jpg);">
    <div class="row">
        <div class="col-lg-12">
            <h1>Mis Títulos</h1>
        </div>
    </div>
</section>

<!-- =====================================================
    *          MODAL PARA REGISTRAR DATOS
 ======================================================= -->

<div class="modal fade" id="modalData" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalDataLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-white" [class.bg-dark]="!editarClicked" [class.bg-primary]="editarClicked">
                <h5 [innerText]="editarClicked ? 'Modificar Título' : 'Agregar Título'">
                </h5>
            </div>
            <div class="modal-body">
                <form class="row g-3 needs-validation" [formGroup]="validateForm">
                    <div class="form-group col-lg-6">
                        <label for="nombre_titulo" class="form-label">NOMBRE DEL TÍTULO:</label>
                        <div class="input-group has-validation">
                            <a class="input-group-text">
                                <i class="fa-solid fa-signature"></i>
                            </a>
                            <input type="text" class="form-control" id="nombre_titulo"
                                placeholder="Ingrese el nombre del título." formControlName="nombreTitulo"    
                                [ngClass]="{ 'is-invalid': validateForm.get('nombreTitulo')?.invalid && (validateForm.get('nombreTitulo')?.dirty || validateForm.get('nombreTitulo')?.touched) }" required>
                           
                            <div class="oaerror danger invalid-feedback" *ngIf="validateForm.get('nombreTitulo')?.invalid && (validateForm.get('nombreTitulo')?.dirty || validateForm.get('nombreTitulo')?.touched)">
                                <ng-container *ngIf="validateForm.get('nombreTitulo')?.errors?.['pattern']">
                                    <strong>Caracteres no permitidos</strong> - Solo se admiten letras y espacio.
                                </ng-container>
                                <ng-container *ngIf="!validateForm.get('nombreTitulo')?.errors?.['pattern']">
                                    <strong>Dato Faltante</strong> - Ingrese el nombre de su Título.
                                </ng-container>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <label for="nombreCarrera" class="form-label">CARRERA:</label>
                        <div class="input-group has-validation">
                            <a class="input-group-text">
                                <i class="fa-solid fa-building-columns"></i>
                            </a>
                            <ng-multiselect-dropdown style="width: 20rem;" [placeholder]="'-- Seleccione una opción --'"
                                [settings]="filterService.dropdownSettings['careersList']"
                                [data]="filterService.dropdownLists['careersList']"
                                [(ngModel)]="filterService.selectedItems['careersList']" formControlName="nombreCarrera">
                            </ng-multiselect-dropdown>
                            <div class="oaerror danger" *ngIf="validateForm.get('nombreCarrera')?.invalid && (validateForm.get('nombreCarrera')?.touched || validateForm.get('nombreCarrera')?.dirty)">
                                <strong>Dato Faltante</strong> - Seleccione el nombre de la carrera.
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6" *ngIf="filterService.selectedItems['careersList'] && filterService.selectedItems['careersList'][0]?.item_text === 'OTRO'">
                        <label for="otro" class="form-label">Ingrese el nombre de la carrera:</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" id="otro" placeholder="Ingrese el nombre de la carrera" formControlName="otro">
                            <div class="oaerror danger" *ngIf="validateForm.get('otro')?.invalid && (validateForm.get('otraCarrera')?.touched || validateForm.get('otro')?.dirty)">
                                <strong>Formato incorrecto</strong> - Ingrese solo letras y tildes.
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <div class="form-group col-lg-6">
                        <label for="tipo" class="form-label">TIPO DE TÍTULO:</label>
                        <div class="input-group has-validation">
                          <span class="input-group-text">
                            <i class="fa-solid fa-clipboard"></i>
                          </span>
                          <select class="form-select" id="tipo" formControlName="tipo" required>
                            <option value="default" disabled [selected]="!validateForm.value.tipo">-- Seleccione un tipo de título --</option>
                            <option value="Técnico" [selected]="validateForm.value.tipo === 'TÉCNICO'">Técnico</option>
                            <option value="Técnico superior" [selected]="validateForm.value.tipo === 'TÉCNICO SUPERIOR'">Técnico Superior</option>
                            <option value="Tecnologo Universitario" [selected]="validateForm.value.tipo === 'TECNOLOGO UNIVERSITARIO'">Tecnólogo Universitario</option>
                            <option value="Universitario" [selected]="validateForm.value.tipo === 'UNIVERSITARIO'">Universitario</option>
                            <option value="Maestría Tecnologica" [selected]="validateForm.value.tipo === 'MAESTRÍA TECNOLOGICA'">Maestría Tecnológica</option>
                            <option value="Maestría" [selected]="validateForm.value.tipo === 'MAESTRÍA'">Maestría</option>
                          </select>
                          <div class="oaerror danger invalid-feedback" *ngIf="validateForm.get('tipo')?.invalid && validateForm.get('tipo')?.touched">
                            <strong>Dato Faltante</strong> - Por favor, ingrese el tipo de título.
                          </div>
                        </div>
                      </div>
                      
                      <div class="form-group col-lg-6">
                        <label for="numRegistro" class="form-label">NÚMERO DE REGISTRO:</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">
                                <i class="fa-solid fa-hashtag"></i>
                            </span>
                            <input type="text" class="form-control" id="numRegistro"
                                placeholder="XXXX-XXXX-XXXX-XXXX" formControlName="numRegistro" 
                                [ngClass]="{ 'is-invalid': validateForm.get('numRegistro')?.invalid && (validateForm.get('numRegistro')?.dirty || validateForm.get('numRegistro')?.touched) }"required>
                            <div class="oaerror danger invalid-feedback" *ngIf="validateForm.get('numRegistro')?.invalid && (validateForm.get('numRegistro')?.dirty || validateForm.get('numRegistro')?.touched)">
                                <ng-container *ngIf="validateForm.get('numRegistro')?.errors?.['minlength']">
                                    <strong>Longitud Mínima Insuficiente</strong> - El número de registro debe tener al menos 5 caracteres numéricos.
                                </ng-container>
                                <ng-container *ngIf="validateForm.get('numRegistro')?.errors?.['maxlength']">
                                    <strong>Longitud Máxima Excedida</strong> - El número de registro no puede ser superior a 20 caracteres.
                                </ng-container>
                                <ng-container *ngIf="validateForm.get('numRegistro')?.errors?.['pattern']">
                                    <strong>Formato Inválido</strong> - Solo se permiten números.
                                </ng-container>
                                <ng-container *ngIf="validateForm.get('numRegistro')?.errors?.['required']">
                                    <strong>Dato Faltante</strong> - Por favor, ingrese el número de registro del título.
                                </ng-container>
                            </div>
                        </div>
                    </div>
                         
                    
                    <div class="form-group col-lg-6">
                        <label for="fecha_emision" class="form-label">FECHA DE EMISIÓN:</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">
                                <i class="fa-regular fa-calendar-days"></i>
                            </span>
                            <input type="date" class="form-control" id="fecha_emision"
                            placeholder="Ingrese el número de registro del título." formControlName="fechaEmision"
                            required [min]="validateForm.get('fechaRegistro')?.value"
                            [ngClass]="{ 'is-invalid': !validarFechaEmision() && validateForm.get('fechaEmision')?.dirty }"
                            [disabled]="!validateForm.get('fechaRegistro')?.value">
                            <div class="oaerror danger invalid-feedback" *ngIf="!validarFechaEmision() && validateForm.get('fechaEmision')?.dirty">
                                <strong>Fecha de emisión inválida</strong> - La fecha de emisión debe ser posterior o igual a la fecha de registro.
                            </div>                        
                        </div>
                    </div>
                    
                    
                    <div class="form-group col-lg-6">
                        <label for="fecha_registro" class="form-label">FECHA DE REGISTRO:</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">
                                <i class="fa-regular fa-calendar-days"></i>
                            </span>
                            <input type="date" class="form-control" id="fecha_registro"
                                placeholder="Ingrese la fecha de registro." formControlName="fechaRegistro" required>
                            <div class="oaerror danger invalid-feedback">
                                <strong>Dato Faltante</strong> - Por favor, ingrese la fecha de registro título.
                            </div>
                        </div>
                    </div>
                    

                    <div class="form-group col-lg-6">
                        <label for="nivel" class="form-label">NIVEL DE TÍTULO:</label>
                        <div class="input-group has-validation">
                          <span class="input-group-text">
                            <i class="fa-solid fa-graduation-cap"></i>
                          </span>
                          <select class="form-select" id="nivel" formControlName="nivel" required>
                            <option value="default" disabled [selected]="!validateForm.value.nivel">-- Seleccione un nivel --</option>
                            <option value="Tercer Nivel" [selected]="validateForm.value.nivel === 'TERCER NIVEL'">Tercer Nivel</option>
                            <option value="Cuarto Nivel" [selected]="validateForm.value.nivel === 'CUARTO NIVEL'">Cuarto Nivel</option>
                            <option value="Quinto Nivel" [selected]="validateForm.value.nivel === 'QUINTO NIVEL'">Quinto Nivel</option>
                          </select>
                          <div class="oaerror danger invalid-feedback" *ngIf="validateForm.get('nivel')?.invalid && validateForm.get('nivel')?.touched">
                            <strong>Dato Faltante</strong> - Por favor, seleccione el nivel de título.
                          </div>
                        </div>
                      </div>
                      
                    

                    <div class="form-group col-lg-6">
                        <label for="institucion" class="form-label">INSTITUCIÓN:</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">
                                <i class="fa-solid fa-school"></i>
                            </span>
                            <input type="text" class="form-control" id="institucion"
                                placeholder="Ingrese el nombre de la institución." formControlName="institucion"
                                [ngClass]="{ 'is-invalid': validateForm.get('institucion')?.invalid && (validateForm.get('institucion')?.dirty || validateForm.get('institucion')?.touched) }" required>
                                <div class="oaerror danger invalid-feedback" *ngIf="validateForm.get('institucion')?.invalid && (validateForm.get('institucion')?.dirty || validateForm.get('institucion')?.touched)">
                                    <ng-container *ngIf="validateForm.get('institucion')?.errors?.['pattern']">
                                        <strong>Caracteres no permitidos</strong> - Solo se admiten letras, coma (,), punto y coma (;) y espacio.
                                    </ng-container>
                                    <ng-container *ngIf="!validateForm.get('institucion')?.errors?.['pattern']">
                                        <strong>Dato Faltante</strong> - Por favor, ingrese el nombre de la institución.
                                    </ng-container>
                                </div>
                                
                        </div>
                    </div>                    
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="onSubmit()" class="btn btn-oblong" [class.btn-success]="!editarClicked"
                    [class.btn-primary]="editarClicked">
                    {{ editarClicked ? 'Actualizar Título' : 'Registrar Título' }}
                </button>

                <button type="button" #myModalClose data-bs-dismiss="modal"
                    class="btn btn-oblong btn-outline-danger btn-block">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- =====================================================
    *          TABLA DE DATOS
 ======================================================= -->
<div class="card" style="background: var(--side-bg-color);">
    <div class="card-body collapse show">

        <!-- =====================================================
            *             BOTONES DE ACCIONES
         ======================================================= -->
        <div class="d-flex">
            <button title="Actualizar datos de la tabla" (click)="loadData()" class="btn btn-success">
                <i class="fas fa-sync"></i>
            </button>

            <button title="Act/Desac columnas de la tabla" (click)="filterService.openFilters('filterTable')"
                class="btn btn-dark ms-2">
                <i class="fa-solid fa-filter"></i>
            </button>

            <ng-multiselect-dropdown *ngIf="filterService.editFilterTabs['filterTable']"
                [placeholder]="'Act / Desc elementos'" [settings]="filterService.dropdownSettings['filterTable']"
                [data]="filterService.dropdownLists['filterTable']"
                [(ngModel)]="filterService.selectedItems['filterTable']"
                (onSelect)="filterService.onItemSelect($event)"
                (onDeSelect)="filterService.onItemDeSelect($event)"
                (onSelectAll)="filterService.onSelectAll('filterTable')"
                (onDeSelectAll)="filterService.onDeSelectAll('filterTable')" class="ms-2">
            </ng-multiselect-dropdown>

            <button (click)="onRegistrarClick()" data-bs-toggle="modal" data-bs-target="#modalData"
                class="btn btn-primary ms-2" style="width: 18rem;">
                Agregar Título
            </button>
        </div>

        <!-- =====================================================
            *            CONTENIDO DE LA TABLA
         ======================================================= -->
        <div class="mt-3 show animate__animated animate__bounceInUp animate__fast">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger"
                    class="table table-bordered table-hover">
                    <tbody>
                        <tr *ngFor="let item of titulosList; let i = index">
                            <th scope="row">{{ i + 1 }}</th>
                            <!--<td>{{ item.id }}</td>--> 
                            <td>{{ item.nombreTitulo }}</td>
                            <td>{{ item.tipo }}</td>
                            <td>{{ item.nivel }}</td>
                            <td>{{ item.institucion }}</td>
                            <td>{{ item.nombreCarrera }}</td>
                            <td>{{ item.fechaEmision }}</td>
                            <td>{{ item.fechaRegistro }}</td>
                            <td>{{ item.numRegistro }}</td>
                            <td class="text-right text-center">
                                <button (click)="onEditarClick(item.id)" data-bs-toggle="modal"
                                    data-bs-target="#modalData" class="btn btn-label-primary btn-sm mg-y-5">
                                    <i class="fa fa-pencil"></i> Editar
                                </button>
                                <button (click)="onDeleteClick(item.id)"
                                    class="btn btn-label-danger btn-sm mg-y-5 mt-2">
                                    <i class="fa fa-trash"></i> Eliminar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>