<section class="page-title bg-overlay-black parallax"
    style="background-image: url(../../../../assets/imgs/bg/Estudiantes4.jpg);">
    <div class="row">
        <div class="col-lg-12">
            <h1>Comunidad De Graduados</h1>
        </div>
    </div>
</section>

<!-- Nuevo Modal -->
<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel_4" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-white bg-primary">
                <h5 class="modal-title">Perfil del Graduado - {{selectedGraduado?.usuario?.persona?.primerNombre +" "+
                    selectedGraduado?.usuario?.persona?.apellidoPaterno}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-layout form-layout-1">
                        <!-- Contenido del formulario -->
                        <div class="row mb-3 g-3">
                            <div class="d-flex align-items-center justify-content-center mb-3">
                                <img [src]="selectedGraduado?.usuario?.urlImagen" alt="Foto"
                                    style="width: 200px; height: 200px; object-fit: cover; border-radius: 8rem;">
                            </div>
                            <div class="form-group col-lg-6">
                                <label class="form-label" for="nombres">Nombres:</label><input class="form-control"
                                    type="text" id="nombres"
                                    [value]="(selectedGraduado?.usuario?.persona?.primerNombre || '') + ' ' + (selectedGraduado?.usuario?.persona?.segundoNombre || '')"
                                    disabled>
                            </div>
                            <div class="form-group col-lg-6">
                                <label class="form-label" for="apellidos">Apellidos:</label><input class="form-control"
                                    type="text" id="nombres"
                                    [value]="(selectedGraduado?.usuario?.persona?.apellidoPaterno || '') + ' ' + (selectedGraduado?.usuario?.persona?.apellidoMaterno || '')"
                                    disabled>
                            </div>
                            <div class="form-group col-lg-6">
                                <label class="form-label" for="cedula">Cédula:</label>
                                <input class="form-control" type="text" id="cedula"
                                    [value]="selectedGraduado?.usuario?.persona?.cedula" disabled>
                            </div>
                            <div class="form-group col-lg-6">
                                <label class="form-label" for="edad">Edad:</label>
                                <input class="form-control" type="text" id="edad" [value]="edad + ' años'" disabled>
                            </div>
                            <div class="form-group col-lg-6">
                                <label class="form-label" for="correo">Correo:</label>
                                <input class="form-control" type="text" id="correo"
                                    [value]="selectedGraduado?.emailPersonal" disabled>
                            </div>
                            <div class="form-group col-lg-6">
                                <label class="form-label" for="telefono">Teléfono</label>
                                <input class="form-control" type="text" id="telefono"
                                    [value]="selectedGraduado?.usuario?.persona?.telefono" disabled>
                            </div>
                            <div class="form-group col-lg-12">
                                <label class="form-label" for="carreras">Carreras:</label>
                                <ng-container
                                    *ngIf="selectedGraduado && careerNameLists[selectedGraduado.id]?.length; else noCareers">
                                    <ul>
                                        <li *ngFor="let careerName of careerNameLists[selectedGraduado.id]">
                                            {{ careerName[1] }}
                                        </li>
                                    </ul>
                                </ng-container>
                                <ng-template #noCareers>
                                    No hay carreras asociadas
                                </ng-template>
                            </div>

                            <!--<div class="text-center mt-auto">
                                    <label class="form-label">Título:</label>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <a href="{{ selectedGraduado?.urlPdf }}" target="_blank"
                                            class="btn btn-primary btn-sm">
                                            <i class="fas fa-file-pdf mr-1"></i> Ver Título
                                        </a>
                                    </div>
                                </div>-->
                        </div>

                        <!-- <div class="col-lg-6">
                                <div class="text-center">
                                    <label class="form-label">Foto de Perfil</label>
                                    <div class="mb-3">
                                        <ng-container *ngIf="selectedGraduado && selectedGraduado.usuario">
                                            <img [src]="selectedGraduado.usuario.urlImagen" alt="Foto"
                                                style="max-width: 100%; max-height: 250px;">
                                        </ng-container>
                                        <ng-container *ngIf="!selectedGraduado || !selectedGraduado.usuario">
                                            <span>No tiene foto</span>
                                        </ng-container>
                                    </div>
                                </div>
                            </div> -->
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger text-white" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="job">
    <div class="wrapper">
        <div class="search-menu">
            <div class="search-bar">
                <input type="text" class="form-control" placeholder="Buscar graduado..." [(ngModel)]="searchTerm"
                    (input)="onSearchInput($event)" (keyup.enter)="buscarBtn()" [disabled]="filtersVisible">
                <ul class="container-suggestions" *ngIf="suggestions.length > 0">
                    <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
                        <img src="{{suggestion.usuario.urlImagen}}"
                            style="width: 30px; height: 30px; object-fit: cover; border-radius: 8rem; margin: 10px 5px;"
                            alt="Foto">
                        {{ suggestion.usuario.persona.primerNombre }} {{ suggestion.usuario.persona.apellidoPaterno }} -
                        {{
                        suggestion.ciudad.nombre }} - {{ suggestion.ciudad.provincia.nombre }} - {{
                        suggestion.ciudad.provincia.pais }}
                    </li>
                </ul>
                <button class="search-clear-button" *ngIf="searchTerm" (click)="clearSearchTerm()">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <button class="search-button">Buscar</button>
            <button class='filters-toggle' (click)="openFilters()">
                <span class='filters-toggle__text'>
                    <svg height='16' viewbox='0 0 14 16' width='14' xmlns='http://www.w3.org/2000/svg'>
                        <g fill-rule='evenodd' fill='none' id='UI' stroke-linecap='round' stroke-linejoin='round'>
                            <path d='M1 1h12L9.2 6.5v5.292l-3.95 2.81V6.5z' id='Path-3' stroke-width='1.1'
                                stroke='#666'></path>
                        </g>
                    </svg>
                    Filtrar
                </span>
            </button>

            <div class="content-menu_i">
                <div class="item menu" (click)="toggleModeView(true)">
                    <div class="linee linee1" [class.white-background]="!isTable"></div>
                    <div class="linee linee2" [class.white-background]="!isTable"></div>
                    <div class="linee linee3" [class.white-background]="!isTable"></div>
                </div>

                <div class="item gallery" (click)="toggleModeView(false)">
                    <div class="dot dot1" [class.white-background]="isTable"></div>
                    <div class="dot dot2" [class.white-background]="isTable"></div>
                    <div class="dot dot3" [class.white-background]="isTable"></div>
                    <div class="dot dot4" [class.white-background]="isTable"></div>
                    <div class="dot dot5" [class.white-background]="isTable"></div>
                    <div class="dot dot6" [class.white-background]="isTable"></div>
                </div>
            </div>
        </div>
        <div class='filters-bar' *ngIf="filtersVisible">
            <div class='filters-bar__dd-container filters-bar__col filters-bar__col--lg'>
                <div class='filters-bar__col'>
                    <div class='ui-dropdown'>
                        <div class="filters-column">
                            <button class='dd-button' (click)="openSelectedFilters()">
                                <span class='dd-button__text' id='filtros'>
                                    Filtrar Por:
                                </span>
                            </button>
                        
                            <span *ngIf="filterStates['fechasGrado']" class="badge text-bg-dark mx-2 d-flex align-items-center" style="padding: 0.5rem 1rem; font-size: .8rem;">Año y mes de
                                graduación:</span>
                        
                            <div class="input-group has-validation" *ngIf="filterStates['fechasGrado']">
                                <span class="input-group-text">
                                    <i class="fa-regular fa-calendar-days"></i>
                                </span>
                                <input type="month" class="form-control" [(ngModel)]="startDate">
                            </div>
                            
                            <span *ngIf="filterStates['carreras']" class="badge text-bg-dark mx-2 d-flex align-items-center"
                                style="padding: 0.5rem 1rem; font-size: .8rem;"> Carreras:</span>
                                
                            <ng-multiselect-dropdown style="width: 40rem;" *ngIf="filterStates['carreras']" [placeholder]="'-- Seleccione una opción --'"
                                [settings]="filterService.dropdownSettings['careersList']" [data]="filterService.dropdownLists['careersList']"
                                [(ngModel)]="filterService.selectedItems['careersList']">
                            </ng-multiselect-dropdown>
                            
                            <span *ngIf="filterStates['ciudades']" class="badge text-bg-dark mx-2 d-flex align-items-center"
                                style="padding: 0.5rem 1rem; font-size: .8rem;"> Ciudades:</span>
                                
                            <ng-multiselect-dropdown style="width: 40rem;" *ngIf="filterStates['ciudades']"[placeholder]="'-- Seleccione una opción --'"
                                [settings]="filterService.dropdownSettings['citiesList']" [data]="filterService.dropdownLists['citiesList']"
                                [(ngModel)]="filterService.selectedItems['citiesList']">
                            </ng-multiselect-dropdown>
                            
                            <span *ngIf="filterStates['provincias']" class="badge text-bg-dark mx-2 d-flex align-items-center"
                                style="padding: 0.5rem 1rem; font-size: .8rem;"> Provincias:</span>
                                
                            <ng-multiselect-dropdown style="width: 40rem;" *ngIf="filterStates['provincias']"[placeholder]="'-- Seleccione una opción --'"
                                [settings]="filterService.dropdownSettings['provincesList']" [data]="filterService.dropdownLists['provincesList']"
                                [(ngModel)]="filterService.selectedItems['provincesList']">
                            </ng-multiselect-dropdown>
                            
                            <span *ngIf="filterStates['paises']" class="badge text-bg-dark mx-2 d-flex align-items-center"
                                style="padding: 0.5rem 1rem; font-size: .8rem;"> Países:</span>
                                
                            <ng-multiselect-dropdown style="width: 40rem;" *ngIf="filterStates['paises']"[placeholder]="'-- Seleccione una opción --'"
                                [settings]="filterService.dropdownSettings['countriesList']" [data]="filterService.dropdownLists['countriesList']"
                                [(ngModel)]="filterService.selectedItems['countriesList']">
                            </ng-multiselect-dropdown>
                        </div>

                        <div class='ui-dropdown__content'>
                            <div class='ui-list ui-dropdown__options-list'>
                                <div class='ui-list__group'>
                                    <span class='ui-list__group-title'>
                                        Filtros
                                    </span>
                                    <ul class='ui-list__content'>
                                        <li class='ui-list__item' data-trigger='#filtros' (click)="filterClick('fechasGrado')">
                                            <a class='ui-list__item-option'>
                                                <span class='ui-list__item-text'>
                                                    Año y mes de graduación
                                                </span>
                                            </a>
                                        </li>

                                        <li class='ui-list__item' data-trigger='#filtros' (click)="filterClick('carreras')">
                                            <a class='ui-list__item-option'>
                                                <span class='ui-list__item-text'>
                                                    Carreras
                                                </span>
                                            </a>
                                        </li>
                                        
                                        <li class='ui-list__item' data-trigger='#filtros' (click)="filterClick('ciudades')">
                                            <a class='ui-list__item-option'>
                                                <span class='ui-list__item-text'>
                                                    Ciudades
                                                </span>
                                            </a>
                                        </li>
                                        
                                        <li class='ui-list__item' data-trigger='#filtros' (click)="filterClick('provincias')">
                                            <a class='ui-list__item-option'>
                                                <span class='ui-list__item-text'>
                                                    Provincias
                                                </span>
                                            </a>
                                        </li>
                                        
                                        <li class='ui-list__item' data-trigger='#filtros' (click)="filterClick('paises')">
                                            <a class='ui-list__item-option'>
                                                <span class='ui-list__item-text'>
                                                    Países
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='filters-bar__col'>
                <button (click)="applyFilters()" data-bs-toggle="modal" data-bs-target="#modalData"
                    class="btn btn-label-primary btn-sm" style="height: 50px;">
                    <i class="fa-solid fa-circle-check"></i> Aplicar filtros
                </button>
                <button (click)="deleteFilters()" data-bs-toggle="modal" data-bs-target="#modalData"
                    class="btn btn-label-danger btn-sm ms-2" style="height: 50px;">
                    <i class="fa-solid fa-eraser"></i> Borrar filtros
                </button>
            </div>
        </div>
        <div *ngIf="anyResult" class="alert alert-primary mt-2" role="alert">
            No se encontraron resultados
        </div>
        <div class="main-container">
            <!-- VISTA EN MODO TABLA -->
            <div class="card-body collapse show collapse animate__animated animate__fadeIn animate__fast mt-2"
                *ngIf="isTable">
                <p class="mt-2" *ngIf="!anyResult"><b>Graduados encontrados:</b> {{resultadoNumber}} </p>
                <div class="table-responsive">
                    <table class="table table-bordered custom-table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>NOMBRES</th>
                                <th>APELLIDOS</th>
                                <th>TELEFONO</th>
                                <th>FECHA DE GRADUACIÓN</th>
                                <th>CIUDAD</th>
                                <th>CARRERAS</th>
                                <th>ESTADO CIVIL</th>
                                <th class="text-center w-100px">Acciones</th>
                                <th class="text-center w-100px">Contactar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let graduadoItem of filteredGraduadosList; let i = index">
                                <th scope="row">{{ i + 1 }}</th>
                                <!-- <td>{{ graduadoItem.usuario.persona.primer_nombre + graduadoItem.usuario.persona.segundo_nombre }}</td> -->
                                <td>{{ graduadoItem.usuario.persona.primerNombre }} {{
                                    graduadoItem.usuario.persona.segundoNombre}}</td>
                                <td>{{ graduadoItem.usuario.persona.apellidoPaterno }} {{
                                    graduadoItem.usuario.persona.apellidoMaterno}}</td>
                                <td>{{ graduadoItem.usuario.persona.telefono }}</td>
                                <td>{{ graduadoItem['anioGraduacion'] }} </td>
                                <td>{{ graduadoItem.ciudad.nombre }} - {{graduadoItem.ciudad.provincia.nombre}} -
                                    {{graduadoItem.ciudad.provincia.pais}}</td>
                                <td>
                                    <ng-container
                                        *ngIf="graduadoItem.id && careerNameLists[graduadoItem.id]?.length; else noCareerNames">
                                        <span
                                            *ngFor="let careerName of careerNameLists[graduadoItem.id]; let last = last">
                                            {{ careerName[1] }}
                                            <span *ngIf="!last">, </span>
                                        </span>
                                    </ng-container>
                                    <ng-template #noCareerNames>
                                        No hay carreras asociadas
                                    </ng-template>
                                </td>

                                <td>{{ graduadoItem.estadoCivil }}</td>
                                <td class="text-center table-actions align-middle justify-content-center">
                                    <button (click)="showGraduadoDetails(graduadoItem)" data-bs-toggle="modal"
                                        data-bs-target="#m_modal_4" type="button"
                                        class="btn btn-oblong btn-outline-primary btn-block">
                                        Mas datos para Contactar
                                    </button>
                                </td>
                                <td class="text-center table-actions align-middle justify-content-center">
                                    <button data-bs-toggle="modal"
                                        (click)="contactarPorWhatsapp(graduadoItem.usuario.persona.telefono)"
                                        type="button" class="btn btn-oblong btn-success btn-block">
                                        Contactar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- VISTA EN CUADRICULA -->
            <div class="searched-jobs" *ngIf="!isTable">
                <p class="mt-2" *ngIf="!anyResult"><b>Graduados encontrados:</b> {{resultadoNumber}} </p>
                <div class="job-cards">
                    <div class="job-card" *ngFor="let graduadoItem of filteredGraduadosList;">
                        <div class="perfil">
                            <img src="{{graduadoItem.usuario.urlImagen}}" alt="Foto De Perfil">
                            <span>{{ graduadoItem.usuario.persona.primerNombre }} {{
                                graduadoItem.usuario.persona.apellidoPaterno}}</span>
                        </div>
                        <div class="job-card-title"><b>Fecha de graduación:</b> {{graduadoItem.anioGraduacion}}</div>
                        <div class="job-card-subtitle">
                            --- AQUI VA LA DESCRIPCIÓN ---
                        </div>
                        <div class="job-detail-buttons">
                            <button class="search-buttons detail-button">{{graduadoItem.ciudad.nombre
                                + " - " + graduadoItem.ciudad.provincia.nombre + " - " +
                                graduadoItem.ciudad.provincia.pais}}</button>
                            <button class="search-buttons detail-button">{{graduadoItem.estadoCivil}}</button>
                            <ng-container
                                *ngIf="graduadoItem.id && careerNameLists[graduadoItem.id]?.length; else noCareerNames">
                                <button class="search-buttons detail-button"
                                    *ngFor="let careerName of careerNameLists[graduadoItem.id]">
                                    <li>
                                        {{ careerName[1] }}
                                    </li>
                                </button>
                            </ng-container>
                            <ng-template #noCareerNames>
                                <button class="search-buttons detail-button">No hay carreras asociadas</button>
                            </ng-template>
                        </div>
                        <div class=" job-card-buttons">
                            <button (click)="showGraduadoDetails(graduadoItem)" data-bs-toggle="modal"
                                data-bs-target="#m_modal_4" class="search-buttons card-buttons"> Mas datos para
                                Contactar</button>
                            <button class="search-buttons card-buttons-msg"  (click)="contactarPorWhatsapp(graduadoItem.usuario.persona.telefono)">Contactar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>