<section>
  <div class="row g-0 animate__animated animate__fadeIn animate__fast">
    <div class="col-lg-6 d-none d-lg-block">
      <div class="custom-size">
        <ng-lottie [options]="options_Register"></ng-lottie>
      </div>
    </div>

    <div class="col-lg-6 d-flex flex-column align-items-end min-vh-100">
      <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 mb-auto w-100">
        <img src="./assets/imgs/ALumni_Logo_Dark_Large.png" class="img-fluid" />
      </div>
      <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4 scroll-register">
        <h2 class="font-weight-bold mb-4" style="color: var(--alumni-color); font-weight: bold;">Crear Cuenta</h2>

        <div class="stepwizard mb-5">
          <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
              <a href="#step-1" type="button" class="btn btn-primary btn-circle disabled border-0">1</a>
            </div>
            <div class="stepwizard-step">
              <a href="#step-2" type="button" class="btn btn-default btn-circle disabled border-0">2</a>
            </div>
            <div *ngIf="roleName === 'GRADUADO'" class="stepwizard-step">
              <a href="#step-3-graduate" type="button" class="btn btn-default btn-circle disabled border-0">3</a>
            </div>
            <div *ngIf="roleName === 'EMPRESARIO'" class="stepwizard-step">
              <a href="#step-3-businessMan" type="button" class="btn btn-default btn-circle disabled border-0">3</a>
            </div>
            <div *ngIf="roleName === 'EMPRESARIO'" class="stepwizard-step">
              <a href="#step-4-company" type="button" class="btn btn-default btn-circle disabled border-0">4</a>
            </div>
          </div>
        </div>

        <div class="content-slide">
          <form class="needs-validation" id="basicData" [formGroup]="registerForm">

            <!-- First Section -->
            <div class="row setup-content" id="step-1">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <div class="form-group mr-3 has-validation ">
                    <label for="InputNombreM1" class="form-label">Ingrese su Primer Nombre</label>
                    <i class="ri-user-smile-line form-icon"></i>
                    <input type="text" class="form-input" required placeholder=" " formControlName="primerNombre"
                      id="InputNombreM1">
                    <div class="invalid-feedback">
                      <strong>Dato Faltante</strong> - El primer nombre es obligatorio.
                    </div>
                  </div>
                  <div class="text-danger"
                    *ngIf="registerForm.get('primerNombre')?.hasError('pattern') && registerForm.get('primerNombre')?.touched">
                    <strong>Dato Erróneo</strong> - Solo letras y mínimo 2 caracteres.
                  </div>
                </div>

                <div class="mx-2 flex-grow-1">
                  <div class="form-group has-validation">
                    <input type="text" class="form-input" required placeholder=" " formControlName="segundoNombre"
                      id="InputNombreP">
                    <label for="InputNombreP" class="form-label">Ingrese su Segundo Nombre</label>
                    <i class="ri-user-smile-line form-icon"></i>
                    <div class="invalid-feedback">
                      <strong>Dato Faltante</strong> - El segundo nombre es obligatorio.
                    </div>
                  </div>
                  <div class="text-danger"
                    *ngIf="registerForm.get('segundoNombre')?.hasError('pattern') && registerForm.get('segundoNombre')?.touched">
                    <strong>Dato Erróneo</strong> - Solo letras y mínimo 2 caracteres.
                  </div>
                </div>
              </div>

              <div class="d-flex">
                <div class="flex-grow-1">
                  <div class="form-group mr-3 has-validation">
                    <input type="text" class="form-input" required placeholder=" " formControlName="primerApellido"
                      id="InputApellidoM">
                    <label for="" class="form-label">Ingrese su Primer Apellido</label>
                    <i class="ri-user-smile-line form-icon"></i>
                    <div class="invalid-feedback">
                      <strong>Dato Faltante</strong> - El primer apellido es obligatorio.
                    </div>
                  </div>
                  <div class="text-danger"
                    *ngIf="registerForm.get('primerApellido')?.hasError('pattern') && registerForm.get('primerApellido')?.touched">
                    <strong>Dato Erróneo</strong> - Solo letras y mínimo 2 caracteres.
                  </div>
                </div>

                <div class="mx-2 flex-grow-1">
                  <div class="form-group has-validation">
                    <input type="text" class="form-input" required placeholder=" " formControlName="segundoApellido"
                      id="InputApellidoP">
                    <label for="" class="form-label">Ingrese su Segundo Apellido</label>
                    <i class="ri-user-smile-line form-icon"></i>
                    <div class="invalid-feedback">
                      <strong>Dato Faltante</strong> - El segundo apellido es obligatorio.
                    </div>
                  </div>
                  <div class="text-danger"
                    *ngIf="registerForm.get('segundoApellido')?.hasError('pattern') && registerForm.get('segundoApellido')?.touched">
                    <strong>Dato Erróneo</strong> - Solo letras y mínimo 2 caracteres.
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <div class="form-group flex-grow-1 has-validation">
                  <input type="text" class="form-input" required placeholder=" " formControlName="cedula"
                    (blur)="validateUniqueIdentityCard()" id="InputCedula">
                  <label for="InputCedula" class="form-label">Ingrese su Cédula</label>
                  <i class="fa-solid fa-id-card form-icon"></i>
                  <div *ngIf="registerForm.get('cedula')?.errors?.['required']" class="invalid-feedback">
                    <strong>Dato Faltante</strong> - La cédula es obligatoria.
                  </div>
                </div>

                <div class="text-danger"
                  *ngIf="registerForm.get('cedula')?.hasError('invalidIdentityCard') && registerForm.get('cedula')?.dirty">
                  <strong>Cédula Inválida</strong> - La cédula ingresada no es válida.
                </div>

                <div class="text-danger"
                  *ngIf="registerForm.get('cedula')?.hasError('pattern') && registerForm.get('cedula')?.touched">
                  <strong>Dato Erróneo</strong> - Solo números y 10 caracteres.
                </div>
                <div class="text-danger" *ngIf="duplicatedFields['identityCard']">
                  <strong>Error</strong> - La cédula ya está registrada.
                </div>
              </div>

              <div class="mb-2">
                <label style="color: var(--alumni-color); margin-bottom: 0.8rem;">Sexo: </label>
                <div style="display: flex; flex-direction: row;" class="form-group flex-grow-1 mr-3">
                  <div class="form-check form-check-inline" style="display: block;">
                    <input class="form-check-input" type="radio" id="radioMasculino" name="sexo"
                      (change)="onSexoChange($event, 'MASCULINO')">
                    <label class="form-check-label" for="radioMasculino" style="order: 1;">
                      Masculino
                    </label>
                  </div>
                  <div class="form-check form-check-inline" style="display: block;">
                    <input class="form-check-input" type="radio" id="radioFemenino" name="sexo"
                      (change)="onSexoChange($event, 'FEMENINO')">
                    <label class="form-check-label" for="radioFemenino" style="order: 1;">
                      Femenino
                    </label>
                  </div>
                  <div class="form-check form-check-inline" style="display: block;">
                    <input class="form-check-input" type="radio" id="radioOtro" name="sexo"
                      (change)="onSexoChange($event, 'OTRO')">
                    <label class="form-check-label" for="radioOtro" style="order: 1;">
                      Otro
                    </label>
                  </div>
                </div>
                <div class="text-danger" *ngIf="isSubmit && registerForm.get('sexo')?.errors?.['required']">
                  Por favor, seleccione un sexo.
                </div>
              </div>

              <div class="mb-4">
                <div class="form-group flex-grow-1 mr-3 has-validation">
                  <label for="InputFechaNacimiento" style="color: var(--alumni-color)">Fecha de Nacimiento</label>

                  <input style="padding: 1rem 1rem;" type="date" formControlName="fechaNacimiento" class="form-input"
                    id="InputFechaNacimiento" min="1960-01-01" max="2005-12-31"
                    placeholder="Ingresa tu fecha de nacimiento">
                </div>

                <div class="text-danger"
                  *ngIf="registerForm.get('fechaNacimiento')?.hasError('required') && registerForm.get('fechaNacimiento')?.touched">
                  <strong>Dato Faltante</strong> - La fecha de nacimiento es obligatoria.
                </div>
                <div class="text-danger"
                  *ngIf="registerForm.get('fechaNacimiento')?.hasError('fechaNacimientoInvalida') && registerForm.get('fechaNacimiento')?.touched">
                  <strong>Dato Erróneo</strong> - La fecha de nacimiento debe ser posterior a 1950-01-01 e inferior a
                  2005-01-01.
                </div>
              </div>

              <div class="mb-4">
                <div class="form-group flex-grow-1 mr-3">
                  <input type="text" class="form-input" required placeholder=" " formControlName="telefono"
                    (blur)="validatePhone()" id="InputTelefono">
                  <label for="" class="form-label">Ingrese su Número de Télefono</label>
                  <i class="fa-solid fa-phone-volume form-icon"></i>
                  <div class="invalid-feedback">
                    <strong>Dato Faltante</strong> - El número de teléfono es obligatorio.
                  </div>
                </div>

                <div class="text-danger"
                  *ngIf="registerForm.get('telefono')?.hasError('pattern') && registerForm.get('telefono')?.touched">
                  <strong>Dato Erróneo</strong> - Solo números y 10 caracteres.
                </div>
                <div class="text-danger" *ngIf="duplicatedFields['phone']">
                  <strong>Error</strong> - El número de teléfono ya está registrado.
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary nextBtn"
                  [disabled]="!registerForm.valid || isButtonDisabled()">Siguiente</button>
              </div>
            </div>
          </form>

          <!-- Second Section -->
          <form class="needs-validation" [formGroup]="subRegisterForm">
            <div class="row setup-content" id="step-2">
              <div class="mb-4">
                <div class="form-group has-validation">
                  <input type="text" class="form-input" required placeholder=" " id="InputNombreUsuario"
                    (blur)="validateUsername()" formControlName="nombreUsuario">
                  <label for="" class="form-label">Ingresa tu nombre de usuario</label>
                  <i class="ri-at-line form-icon"></i>
                  <div class="invalid-feedback">
                    <strong>Dato Faltante</strong> - El nombre de usuario es obligatorio.
                  </div>
                </div>
                <div class="text-danger"
                  *ngIf="subRegisterForm.get('nombreUsuario')?.hasError('pattern') && subRegisterForm.get('nombreUsuario')?.touched">
                  <strong>Dato Erróneo</strong> - Solo letras y números y de 2 a 10 caracteres.
                </div>
                <div class="text-danger" *ngIf="duplicatedFields['username']">
                  <strong>Error</strong> - El nombre de usuario ya está registrado.
                </div>
              </div>
              <div class="mb-4">
                <div class="form-group has-validation">
                  <input type="password" class="form-input" required placeholder=" " id="InputPassword1"
                    formControlName="clave">
                  <label for="" class="form-label">Ingresa tu contraseña</label>
                  <i class="ri-lock-line form-icon"></i>
                  <span (click)="togglePasswordVisibility()" class="toggle-password">
                    <i class="ri-eye-fill" *ngIf="passwordVisible"></i>
                    <i class="ri-eye-off-fill" *ngIf="!passwordVisible"></i>
                  </span>
                  <div class="invalid-feedback">
                    <strong>Dato Faltante</strong> - La contraseña es obligatoria.
                  </div>
                </div>
                <div class="text-danger"
                  *ngIf="subRegisterForm.get('clave')?.hasError('pattern') && subRegisterForm.get('clave')?.touched">
                  <strong>Dato Erróneo</strong>
                  <li>Al menos 8 caracteres de longitud.</li>
                  <li>Al menos una letra (mayúscula o minúscula).</li>
                  <li>Al menos un número.</li>
                </div>
              </div>

              <div class="mb-4">
                <label style="color: var(--alumni-color)">Subir Foto de perfil</label>
                <div class="card mg-b-20 form-group flex-grow-1 mr-3">
                  <div class="card-header">
                    <!-- Muestra la visa previa dentro del primer seleccionador de archivos -->
                    <div class="preview-img" *ngIf="imageHandlerService.previsualizacion">
                      <div class="image-container text-center mt-3">
                        <!-- Ajusté el estilo del contenedor para centrar y hacer la imagen más grande -->
                        <img id="preview" [src]="imageHandlerService.previsualizacion" alt=""
                          style="width: 250px; height: 250px; object-fit: cover;" />
                      </div>
                      <div>
                        <button class="clear-image form-control border-0 cancel-button mt-3 custom-cancel-button"
                          type="button" (click)="imageHandlerService.clearImage()">
                          Cancelar
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card-body collapse show" id="collapse8">
                    <!-- Moví el input type="file" aquí -->
                    <input id="file" type="file" class="dropify" data-show-remove="false"
                      (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png" />
                  </div>
                </div>
                <!-- Mostrar mensaje de error para el campo inputFoto -->
                <!-- Botón para subir la foto de perfil -->
                <div class="text-danger" *ngIf="!imageHandlerService.previsualizacion">
                  La foto es obligatoria.
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <button class="btn btn-outline-primary prevBtn">Anterior</button>
                <button class="btn btn-primary nextBtn ms-2"
                  [disabled]="!subRegisterForm.valid || !imageHandlerService.previsualizacion || isButtonDisabled()">Siguiente</button>
              </div>
            </div>
          </form>

          <!-- Third Section Businessman-->
          <div class="needs-validation" *ngIf="roleName === 'EMPRESARIO'">
            <div>
              <form class="" [formGroup]="formCase1">
                <!-- Conditional Section -->
                <div class="row setup-content" id="step-3-businessMan">
                  <div class="d-flex">
                    <div class="flex-grow-1">
                      <div class="form-group mr-3 has-validation">
                        <input name="descripcion" type="text" class="form-input" required placeholder=" "
                          formControlName="descripcion">
                        <label for="descripcion" class="form-label">Ingrese una Descripción</label>
                        <i class="ri-user-smile-line form-icon"></i>
                        <div class="invalid-feedback">
                          <strong>Dato Faltante</strong> - La descripción es obligatoria.
                        </div>
                      </div>
                    </div>

                    <div class="mx-2 flex-grow-1">
                      <div class="form-group has-validation">
                        <input type="text" class="form-input" required placeholder=" " formControlName="puesto"
                          id="puesto">
                        <label for="puesto" class="form-label">¿Cuál es su puesto en la Empresa?</label>
                        <i class="ri-user-smile-line form-icon"></i>
                        <div class="invalid-feedback">
                          <strong>Dato Faltante</strong> - El puesto es obligatoria.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex">
                    <div class="flex-grow-1">
                      <div class="form-group mr-3 has-validation">
                        <input type="text" class="form-input" required placeholder=" " formControlName="email"
                          (blur)="validateBusinessManEmail()" id="email">
                        <label for="email" class="form-label">Ingrese su Email</label>
                        <i class="ri-user-smile-line form-icon"></i>
                        <div class="invalid-feedback">
                          <strong>Dato Faltante</strong> - El email es obligatorio.
                        </div>
                      </div>
                      <div class="text-danger"
                        *ngIf="formCase1.get('email')?.hasError('email') && formCase1.get('email')?.touched">
                        <strong>Dato Erróneo</strong> - Email no válido.
                      </div>
                      <div class="text-danger" *ngIf="duplicatedFields['businessManEmail']">
                        <strong>Error</strong> - Email ya registrado.
                      </div>
                    </div>

                    <div class="mx-2 flex-grow-1">
                      <div class="form-group has-validation">
                        <input type="number" max="100" class="form-input" required placeholder=" "
                          formControlName="anios" id="anios">
                        <label for="anios" class="form-label">Años</label>
                        <i class="ri-user-smile-line form-icon"></i>
                        <div class="invalid-feedback">
                          <strong>Dato Faltante</strong> - Los años son obligatorios.
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-primary prevBtn mr-2">Anterior</button>
                    <button class="btn btn-primary nextBtn  ms-2"
                      [disabled]="!formCase1.valid || isButtonDisabled()">Siguiente</button>
                  </div>
                </div>
              </form>

              <div>
                <form class="needs-validation" [formGroup]="formSubCase1">
                  <div class="row setup-content" id="step-4-company">
                    <div class="d-flex">
                      <div class="flex-grow-1">
                        <div class="form-group mr-3 has-validation">
                          <input name="ruc" type="text" class="form-input" required placeholder=" "
                            (blur)="validateCompanyRuc()" formControlName="ruc">
                          <label for="ruc" class="form-label">Ingrese El RUC</label>
                          <i class="ri-user-smile-line form-icon"></i>
                          <div class="invalid-feedback">
                            <strong>Dato Faltante</strong> - El RUC es obligatorio.
                          </div>
                        </div>

                        <div class="text-danger"
                          *ngIf="formSubCase1.get('ruc')?.hasError('invalidRuc') && formSubCase1.get('ruc')?.dirty">
                          <strong>RUC Inválido</strong> - El RUC ingresado no es válido.
                        </div>
                        <div class="text-danger"
                          *ngIf="formSubCase1.get('ruc')?.hasError('pattern') && formSubCase1.get('ruc')?.touched">
                          <strong>Dato Erróneo</strong> - Solo números y 13 caracteres.
                        </div>
                        <div class="text-danger" *ngIf="duplicatedFields['companyRuc']">
                          <strong>Error</strong> - El RUC ya está registrado.
                        </div>
                      </div>

                      <div class="mx-2 flex-grow-1">
                        <div class="form-group has-validation">
                          <input type="text" class="form-input" required placeholder=" " formControlName="nombre"
                            id="nombre" (blur)="validateCompanyName()">
                          <label for="nombre" class="form-label">Ingrese El Nombre de su Empresa</label>
                          <i class="ri-user-smile-line form-icon"></i>
                          <div class="invalid-feedback">
                            <strong>Dato Faltante</strong> - El nombre de la empresa es obligatorio.
                          </div>
                        </div>
                      </div>
                      <div class="text-danger" *ngIf="duplicatedFields['companyName']">
                        <strong>Error</strong> - El Nombre de la Empresa ya está registrado.
                      </div>
                    </div>

                    <div class="d-flex">
                      <div class="mx-2 flex-grow-1">
                        <div class="form-group mr-3 has-validation">
                          <select class="form-input" required placeholder=" " formControlName="ciudad" id="ciudad">
                            <option *ngFor="let city of ciudadesList" [ngValue]="city">{{city.nombre}}</option>
                          </select>
                          <label for="ciudad" class="form-label">Seleccione una Ciudad</label>
                          <div class="invalid-feedback">
                            <strong>Dato Faltante</strong> - La ciudad es obligatoria.
                          </div>
                        </div>
                      </div>

                      <div class="mx-2 flex-grow-1">
                        <div class="form-group mr-3 has-validation">
                          <select class="form-input" required placeholder=" " formControlName="sectorEmpresarial"
                            id="sectorEmpresarial">
                            <option *ngFor="let sector of businessSectorsList" [ngValue]="sector">{{sector.nombre}}
                            </option>
                          </select>
                          <label for="sectorEmpresarial" class="form-label">Seleccione un Sector Empresarial</label>
                          <div class="invalid-feedback">
                            <strong>Dato Faltante</strong> - El sector empresarial es obligatorio.
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="d-flex">
                      <div class="flex-grow-1">
                        <div class="form-group mr-3 has-validation">
                          <input name="tipoEmpresa" type="text" class="form-input" required placeholder=" "
                            formControlName="tipoEmpresa">
                          <label for="tipoEmpresa" class="form-label">Ingrese El tipo de Empresa</label>
                          <i class="ri-user-smile-line form-icon"></i>
                          <div class="invalid-feedback">
                            <strong>Dato Faltante</strong> - El tipo de empresa es obligatorio.
                          </div>
                        </div>
                      </div>

                      <div class="mx-2 flex-grow-1">
                        <div class="form-group has-validation">
                          <input type="text" class="form-input" required placeholder=" " formControlName="razonSocial"
                            id="razonSocial">
                          <label for="razonSocial" class="form-label">Ingrese la Razón Social de la Empresa</label>
                          <i class="ri-user-smile-line form-icon"></i>
                          <div class="invalid-feedback">
                            <strong>Dato Faltante</strong> - La razón social es obligatoria.
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="d-flex">
                      <div class="flex-grow-1">
                        <div class="form-group mr-3 has-validation">
                          <input name="area" type="text" class="form-input" required placeholder=" "
                            formControlName="area">
                          <label for="area" class="form-label">Ingrese El Área </label>
                          <i class="ri-user-smile-line form-icon"></i>
                          <div class="invalid-feedback">
                            <strong>Dato Faltante</strong> - El área es obligatoria.
                          </div>
                        </div>
                      </div>

                      <div class="mx-2 flex-grow-1">
                        <div class="form-group has-validation">
                          <input type="text" class="form-input" required placeholder=" " formControlName="ubicacion"
                            id="ubicacion">
                          <label for="ubicacion" class="form-label">¿Dónde se ubica su Empresa?</label>
                          <i class="ri-user-smile-line form-icon"></i>
                          <div class="invalid-feedback">
                            <strong>Dato Faltante</strong> - La ubicación es obligatoria.
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="d-flex">
                      <div class="flex-grow-1">
                        <div class="form-group mr-3">
                          <input name="area" type="text" class="form-input" placeholder=" " formControlName="sitioWeb">
                          <label for="area" class="form-label">¿Tiene un Sitio Web?</label>
                          <i class="ri-user-smile-line form-icon"></i>
                        </div>
                      </div>
                    </div>

                    <div class="mb-4">
                      <label style="color: var(--alumni-color)">Subir Comprobante de RUC</label>
                      <div class="card mg-b-20 form-group flex-grow-1 mr-3">
                        <div class="card-header">
                          <div class="preview-img" *ngIf="pdfHandlerService.pdfUrl">
                            <div class="embed-responsive-19by9">
                              <embed [src]="pdfHandlerService.pdfUrl" type="application/pdf" width="100%"
                                height="500px">
                            </div>
                            <div>
                              <button class="clear-image form-control border-0 cancel-button mt-3 custom-cancel-button"
                                type="button" (click)="pdfHandlerService.clearPdf()">
                                Cancelar
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="card-body collapse show" id="collapse8">
                          <input id="pdfFile" type="file" class="dropify" data-show-remove="false"
                            (change)="onPdfSelected($event)" accept=".pdf" />
                        </div>
                      </div>
                      <div class="text-danger" *ngIf="!pdfHandlerService.pdfUrl">
                        El PDF del Ruc es obligatorio.
                      </div>
                    </div>

                    <div class="d-flex justify-content-end">
                      <button class="btn btn-outline-primary prevBtn mr-2">Anterior</button>
                      <button class="btn btn-primary nextBtn  ms-2" (click)="register()"
                        [disabled]="!formCase1.valid || !pdfHandlerService.pdfUrl || isButtonDisabled()">Registrarse</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div *ngIf="roleName === 'GRADUADO'">
            <form [formGroup]="formCase2">
              <div class="row setup-content" id="step-3-graduate">
                <div class="d-flex">
                  <div class="flex-grow-1">
                    <div class="form-group mr-3 has-validation">
                      <input name="emailPersonal" type="email" class="form-input" required placeholder=" "
                        formControlName="emailPersonal" (blur)="validateGraduateEmail()">
                      <label for="emailPersonal" class="form-label">Ingrese su Email Personal</label>
                      <i class="ri-user-smile-line form-icon"></i>
                    </div>
                    <div class="text-danger"
                      *ngIf="formCase2.get('emailPersonal')?.hasError('email') && formCase2.get('emailPersonal')?.touched">
                      <strong>Dato Erróneo</strong> - Email no válido.
                    </div>
                    <div class="text-danger" *ngIf="duplicatedFields['graduateEmail']">
                      <strong>Error</strong> - Email ya registrado.
                    </div>
                  </div>
                  <div class="mx-2 flex-grow-1">
                    <div class="form-group mr-3 has-validation">
                      <select class="form-input" required name="ciudad" id="ciudad" formControlName="ciudad">
                        <option value="" disabled selected>Seleccionar</option>
                        <option *ngFor="let ciudad of ciudadesList" value="{{ciudad.nombre}}">{{ciudad.nombre}}</option>
                      </select>
                      <label for="ciudad" class="form-label">Seleccione una ciudad</label>
                      <i class="ri-user-smile-line form-icon"></i>
                    </div>
                  </div>
                </div>

                <div class="d-flex">
                  <div class="mx-2 flex-grow-1">
                    <div class="form-group mr-3 has-validation">
                      <select class="form-input" required id="estadoCivil" formControlName="estadoCivil">
                        <option value="" disabled selected>Seleccionar</option>
                        <option value="Soltero/a">Soltero/a</option>
                        <option value="Casado/a">Casado/a</option>
                        <option value="Viudo/a">Viudo/a</option>
                        <option value="Divorciado/a">Divorciado/a</option>
                        <option value="Union Libre">Union Libre</option>
                      </select>
                      <label for="estadoCivil" class="form-label">Seleccione su estado civil</label>
                      <i class="ri-user-smile-line form-icon"></i>
                    </div>
                    <div class="oaerror danger mb-4"
                      *ngIf="(isSubmit && formCase2.get('estadoCivil')?.invalid) || formCase2.get('estadoCivil')?.hasError('required') && formCase2.get('estadoCivil')?.touched">
                      El estado civil es obligatorio.
                    </div>
                  </div>

                  <div class="mx-1 flex-grow-1">
                    <div class="form-group has-validation">
                      <input class="form-input" required type="date" formControlName="anioGraduacion" [min]="minFormatDate()" [max]="getCurrentDate()"
                      id="anioGraduacion">
                      <label for="anioGraduacion" style="color: var(--alumni-color)">Fecha de Graduación</label>
                    </div>

                    <div class="oaerror danger mb-4"
                      *ngIf="formCase2.get('anioGraduacion')?.hasError('required') && formCase2.get('anioGraduacion')?.touched">
                      La fecha de graduación es obligatoria.
                    </div>
                    <div class="oaerror danger mb-4"
                      *ngIf="formCase2.get('anioGraduacion')?.hasError('invalidMinDate') && formCase2.get('anioGraduacion')?.touched">
                      Para registrarte debes haber graduado antes de la fecha actual y tener al menos 20 años.
                    </div>
                    <div class="oaerror danger mb-4"
                      *ngIf="formCase2.get('anioGraduacion')?.hasError('invalidRangeAge') && formCase2.get('anioGraduacion')?.touched">
                      Para registrarte debes haber graduado antes de la fecha actual y tener menos de 55 años.
                    </div>
                  </div>
                </div>

                <div class="mb-4">
                  <label style="color: var(--alumni-color)">Subir Título</label>
                  <div class="card mg-b-20 form-group flex-grow-1 mr-3">
                    <div class="card-header">
                      <div class="preview-img" *ngIf="pdfHandlerService.pdfUrl">
                        <div class="embed-responsive-19by9">
                          <embed [src]="pdfHandlerService.pdfUrl" type="application/pdf" width="100%" height="500px">
                        </div>
                        <div>
                          <button class="clear-image form-control border-0 cancel-button mt-3 custom-cancel-button"
                            type="button" (click)="pdfHandlerService.clearPdf()">
                            Cancelar
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="card-body collapse show" id="collapse8">
                      <input id="pdfFile" type="file" class="dropify" data-show-remove="false"
                        (change)="onPdfSelected($event)" accept=".pdf" />
                    </div>
                  </div>
                  <div class="text-danger" *ngIf="!pdfHandlerService.pdfUrl">
                    El PDF es obligatorio.
                  </div>
                </div>

                <div class="d-flex justify-content-end">
                  <button class="btn btn-outline-primary prevBtn mr-2">Anterior</button>
                  <button class="btn btn-primary nextBtn  ms-2" (click)="register()"
                    [disabled]="!formCase2.valid || !pdfHandlerService.pdfUrl || isButtonDisabled()">Registrarse</button>
                </div>
              </div>

            </form>

          </div>

        </div>

        <div class="text-center px-lg-5 pt-lg-3 pb-lg-4 p-4 mt-auto w-100">
          <p class="d-inline-block mb-0">¿Ya tienes una cuenta?</p> <a href=""
            class="text-light font-weight-bold text-decoration-none" [routerLink]="['/account/login']"
            routerLinkActive="router-link-active"> Inicia Sesion</a>
        </div>
      </div>
    </div>
  </div>
</section>